.header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Rubik Wet Paint', cursive;

    position: fixed;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
}

.page-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 23.6vmin;

    position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    padding: 5vw;
    flex-basis: 30%;
    text-align: center;

    height: 75vmin;
    width: 110vmin;

    font-family: 'Kalam', cursive;

    background-image: url("images/Book.png");
    background-size: 110vmin 75vmin;
    background-position: center;
    background-repeat: no-repeat;
}

.subtitle {
    font-family: 'Satisfy', cursive;
    color: black;

    margin-bottom: 6vmin;
}

#submitButton {
    font-family: 'Kalam', cursive;
    margin-top: 50px;

    background-image: url("images/Button.png");
    background-position: center;
    background-repeat: no-repeat;
}

.page {
    width: 30vmin;
    height: 46vmin;

    margin-top: 6.2vmin;

    overflow: scroll;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

#horoscopeOutput {
    color: black;
    
}

#fname {
    font-family: 'Kalam', cursive;
    color: black;
}

#birthday {
    font-family: 'Kalam', cursive;
    color: black;
}

.back {
    position: fixed;
    top: 95%;
    left: 95%;

    font-family: 'Kalam', cursive;

    width: 6vw;
    height: 3vw;

    background-image: url("images/Button.png");
    background-size: 6vw 3vw;
    background-position: center;
    background-repeat: no-repeat;

    font-size:1.5vw;
}