@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Kalam:wght@300&family=Rubik+Wet+Paint&family=Satisfy&display=swap');
body {
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0px
}
h1{ 
  text-align: center;
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 1.5rem;
}

form {
  border-width: 0px;
  border-color: transparent;
  outline-width: 0px;
}