body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.sign {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    flex-basis: 30%;
    text-align: center;
    height: 550px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 750px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}
/*.sign img {
    width: 100px;
    height: 100px;
} */
.back {
    margin-right: 30px;
    position: absolute;
    right: 0px;
}