.header {
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 1.5rem;
}

#book {
  background-image: url("../HoroscopeDisplay/images/Book.png");
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  height: 40vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: unset;
  top: 25dvh;
  left: 10dvw;
  
  position: absolute;
  padding: 5px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  width: 50%;
}

.left-page {
}

.right-page {
}


#questionnaire {
  gap: 2vw;
  /* margin-top: 100px; */
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */

  padding: 20px;
  flex-basis: 30%;
  text-align: center;
  /* height: auto;
  width: auto; */

  font-family: 'Kalam', cursive;
  color: black;

  /* background-image: url("../HoroscopeDisplay/images/Book.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}


 .page-group:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
  
} 

#submitButton {
  font-family: 'Kalam', cursive;
  margin-top: 50px;

  background-image: url("images/Button.png");
  background-position: center;
  background-repeat: no-repeat;
}


#question{
  position: relative;
  top:0%;
  max-width: 30vw;
}


#horoscopeForm {
  margin-top: 100px;
}

#fname {
  font-family: 'Kalam', cursive;
  background-image: url("images/Button.png");
  background-position: center;
  background-repeat: no-repeat;
}

#birthday {
  font-family: 'Kalam', cursive;
  background-image: url("images/Button.png");
  background-position: center;
  background-repeat: no-repeat;
}

#exitButton {
  margin-right: 30px;
  position: fixed;
  top: 72%;
  left: 78%;
  font-family: 'Kalam', cursive;

  background-image: url("../HoroscopeDisplay/images/Button.png");
  background-position: center;
  background-repeat: no-repeat;
}
